<h1>{{title}}</h1>
<nav class="w3-bar w3-center w3-blue w3-large">
  <button routerLink="bartTrainSched" class="w3-mobile w3-button w3-bar-item">
    BART Trains
  </button>
</nav>
<!-- <br>
<a href="#/bartTrainSched">href bartTrainSched, refresh causes page to blink</a>
<br>
<br>
<a routerLink="/bartTrainSched" routerLinkActive="w3-pale-green">routerLink bartTrainSched, prevents refresh page blink</a>
<br>
<br>
<a [routerLink]="['/bartTrainSched']" routerLinkActive="w3-pale-green">[routerLink] bartTrainSched</a>
<br> -->


<div class="w3-container">
    <router-outlet></router-outlet>
</div>

